<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266248114759-m1mpijni69ft25sor4p9otch3rmeus5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266248114759-m1mpijni69ft25sor4p9otch3rmeus5e</string>
	<key>API_KEY</key>
	<string>AIzaSyDWJBKXMSZs6gwBTZNdaSSgACA4i2mQhl4</string>
	<key>GCM_SENDER_ID</key>
	<string>266248114759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jack.collect</string>
	<key>PROJECT_ID</key>
	<string>collect-3669d</string>
	<key>STORAGE_BUCKET</key>
	<string>collect-3669d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266248114759:ios:86b571d1f5a469dcaed762</string>
	<key>DATABASE_URL</key>
	<string>https://collect-3669d.firebaseio.com</string>
</dict>
</plist>